@charset "utf-8";

/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #333;
    font: 15px/1.6 "돋움", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.wrap {
    display: flex;
    width: 1000px;
}

/* 헤더 */
header {
    width: 200px;
    height: 650px;
    background: #011053;
}

/* 로고 */
.logo {
    height: 60px;
    margin-top: 20px;
}

/* 내비게이션 */
.gnb {
    width: 160px;
    text-align: center;
    margin: 0 auto;
}

.gnb a {
    color: #fff;
}

/* 1depth: 메인메뉴 */
.gnb .main>li>a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.gnb .main>li:not(:last-of-type) {
    border-bottom: 1px solid #fff; 
}

.gnb .main>li>a:hover {
    background: #fff;
    color: #011053;
    transition: .3s;
}
.gnb .main>li:hover .sub {
    height: 120px;
}

/* 2depth: 서브메뉴 */
.gnb .sub {
    height: 0;
    transition: .3s;
    overflow: hidden;
    background: #eee;
    text-align: center;
}

.gnb .sub a {
    color: #333;
}

.gnb .sub::before {
    display: block;
    content: '';
    padding-top: 15px;
}

.gnb .sub>li>a {
    display: block;
    font-size: 14px;
    padding: 4px;
}

.gnb .sub>li>a:hover {
    background: #949cbb;
    color: #fff;
    font-weight: bold;
    transition: .1s;
}

/* 슬라이드 */
.slide {
    position: relative;
    height: 300px;
    width: 800px;
}

.slide li {
    position: absolute;
    animation: 6s infinite;
}

.slide li:nth-last-of-type(1) {animation-name: fade1;}
.slide li:nth-last-of-type(2) {animation-name: fade2;}
.slide li:nth-last-of-type(3) {animation-name: fade3;}

@keyframes fade1 {
    0% {opacity: 0;}
    10% {opacity: 1;}
    33% {opacity: 1;}
    43% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade2 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    43% {opacity: 1;}
    66% {opacity: 1;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade3 {
    0% {opacity: 1;}
    10% {opacity: 0;}
    66% {opacity: 0;}
    76% {opacity: 1;}
    100% {opacity: 1;}
}

/* 오른쪽 영역 */
.container {
    width: 800px;
}

/* 슬라이드 */
.slide {
    height: 350px;
    overflow: hidden;
}

/* 콘텐츠 */
.contents {
    display: flex;
    height: 200px;
}

/* 탭 메뉴 */
.tabs {
    width: 280px;
    height: 200px;
    margin: 4px 8px;
}

.tabs input {
    display: none;
}

.tabs label {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
    color: #999;
}

.tabs input:checked+label {
    color: #333;
}

.tabs .tab_content {
    position: absolute;
    display: none;
    width: 280px;
    margin: 4px;
    border-top: 1px solid #666;
    margin-top: -1px;
}

input:checked+label+.tab_content {
    display: block;
}

/* 공지사항 */
.tab1 {
    line-height: 2;
}

.tab1 li {
    display: flex;
    justify-content: space-between;
}

.tab1 a {
    font-size: 13px;
    margin-top: 4px;
}

.tab1 a:hover {
    text-decoration: underline;
}

.tab1 p {
    font-size: 12px;
    margin-top: 4px;
}

/* 갤러리 */
.tab2 {
    display: inline-block;
    text-align: center;
}

.tab2 img {
    margin: 8px 4px;
}

/* 배너 */
.banner {
    margin-top: 10px;
    width: 250px;
    text-align: right;
}

.banner img {
    border-radius: 10px;
}

/* 바로가기 */
.link {
    margin-top: 10px;
    width: 250px;
    text-align: right;
}

.link img {
    border-radius: 10px;
}

/* 푸터 */
footer {
    display: flex;
    height: 100px;
    background: #666;
    color: #eee;
}

/* 하단 로고 */
.blogo {
    width: 200px;
    margin-top: 30px;
}

/* 하단 오른쪽 */
.bcon {
    width: 600px;
    margin-left: 20px;
}

/* 하단 메뉴 */
.bmenu {
    height: 40px;
    margin-top: 20px;
}

.bmenu a {
    color: #eee;
}

.bmenu li {
    display: inline;
}

.bmenu li:not(:last-child):after {
    content: ' | ';
    margin: 8px;
}

/* 저작권 */
.copy {
    color: #999;
}