@charset "utf-8";
/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 15/1.6, "돋움", sans-serif;
    background: #fff;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    vertical-align: top;
}
ul {
    list-style: none;
}

/* a영역 헤더 */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    text-align: center;
    line-height: 20px;
}

nav {
    width: 600px;
    height: 60px;
}
nav li {
    display: inline-block;
    width: 120px;
    line-height: 60px;
}
nav a {
    font-size: 18px;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

/* b영역 슬라이드 */
.slide {
    position: relative;
    overflow: hidden;
    height: 300px;
}
.slide ul {
    position: absolute;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 400%;
    animation: slide 10s infinite;
}
.slide li {
    height: 25%; /* 필수 */
}

@keyframes slide {
    0% {top: 0%;}
    10% {top: -100%;}
    33% {top: -100%;}
    43% {top: -200%;}
    66% {top: -200%;}
    76% {top: -300%;}
    99.99% {top: -300%;}
    100% {top: 0%;}
}


.contents {
    height: 200px;
    display: flex;
}

.contents h2 {
    margin-bottom: 16px;
}

.notice {
    width: 400px;
}

.notice a {
    display: inline-block;
    width: 320px;
    margin-bottom: 8px;
}

.gallery {
    width: 400px;
}

.gallery .inner {
    display: flex;
    justify-content: space-evenly
}

.gallery a {
    margin-right: 8px;
    text-align: center;
    font-size: 14px;
}

.lnik {
    width: 400px;
}


footer {
    height: 120px;
    /* background: #333; */
}