@charset "utf-8";
/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 15/1.6, "돋움", sans-serif;
    background: #fff;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    vertical-align: top;
}
ul {
    list-style: none;
}

/* a영역 헤더 */
header {
    position: relative;
    z-index: 1;
    height: 100px;
}

header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.logo {
    padding-top: 15px;
}

/* 내비게이션 */
.gnb {
    position: absolute;
    right: 20px;
    width: 640px;
    height: 60px;
    text-align: center;
    align-self: flex-end;
}

/* 1depth: 메인메뉴 */
.gnb .main {
    display: flex;
}

.gnb .main::before {
    position: absolute;
    right: -20px;
    top: 60px;
    z-index: -1;
    content: "";
    width: 1200px;
    height: 0;
    background: rgba(255, 255, 255, .8);
    transition: .3s;
}

.gnb .main:hover::before {
    height: 140px;
}

.gnb .main>li>a {
    display: block;
    width: 160px;
    height:60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
}
.gnb .main>li>a:hover {
    background: #333;
    color: #fff;
    transition: .1s;
}
.gnb .main:hover .sub {
    height: 140px;
}

/* 2depth: 서브메뉴 */
.gnb .sub {
    height: 0;
    transition: .3s;
    overflow: hidden;
    text-align: center;
}

.gnb .sub a {
    color: #333;
}

.gnb .sub::before {
    display: block;
    content: '';
    padding-top: 10px;
}

.gnb .sub>li>a {
    display: block;
    font-size: 14px;
    padding: 4px;
}

.gnb .sub>li>a:hover {
    background: #999;
    color: #fff;
    font-weight: bold;
    transition: .1s;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

/* b영역 슬라이드 */
.slide {
    position: relative;
    overflow: hidden;
    height: 300px;
}
.slide ul {
    position: absolute;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 400%;
    animation: slide 10s infinite;
}
.slide li {
    height: 25%; /* 필수 */
}

@keyframes slide {
    0% {top: 0%;}
    10% {top: -100%;}
    33% {top: -100%;}
    43% {top: -200%;}
    66% {top: -200%;}
    76% {top: -300%;}
    99.99% {top: -300%;}
    100% {top: 0%;}
}


.contents {
    height: 200px;
    display: flex;
    margin-top: 10px;
}

.contents h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.notice {
    width: 410px;
}

.notice a {
    display: inline-block;
    width: 290px;
    margin-bottom: 8px;
}

.gallery {
    width: 410px;
}

.gallery .inner {
    display: flex;
    justify-content: space-evenly
}

.gallery a {
    margin-right: 16px;
    text-align: center;
    font-size: 13px;
}

.link {
    width: 400px;
    margin-bottom: 8px;
}

.link img {
    width: 380px;
    margin-left: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666;
    color: #ccc;
    height: 120px;
    padding: 0 30px;
    margin: 0 auto;
}

.left { 
    width: 1000px
}

.right {
    width: 200px;
}

.sns {
    height: 30px;
    margin-top: 30px;
}

.sns li {
    display: inline;
    margin-right: 8px; 
}

.sns img {
    width: 24px;
}

/* .sns li:nth_of_type(1)::after {
    content: " |";
}

.sns li:nth_of_type(2)::after {
    content: " |";
} */

/* .sns li:not(:last-of-type)::after {
    content: " |";
} */

.fs {
    height: 60px;
}