@charset "utf-8";
@import url(reset.css);
@import url(common.css);

.inner {
    position: relative;
    text-align: center;
}

.inner>h2 {
    font-size: 30px;
    font-weight: 500;
}

.inner>p {
    color: var(--gray2);
    margin: 24px 0 70px;
}

/* tabs */
/* tab button */
#tabs {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/* tab contents */
#tabs_btn {
    position: absolute;
    top: 0;
    left: 700px;
}

#tabs_btn li:not(:last-child)::after {
    content: '|';
    margin: 0 8px;
    color: var(--gray2);
}
#tabs_btn li {
    display: inline-block;
    font-size: 14px;
}

#tabs_btn a {
    color: var(--gray2);
}

#tabs>div>div:first-of-type div {
    width: 580px;
    height: 433px;
    border: 1px solid #ccc;
}

#tabs>div>div:first-of-type h3 {
    position: absolute;
    top: 40px;
    left: 700px;
    font-size: 24px;
}

#tabs>div>div:nth-of-type(2) {
    position: absolute;
    top: 230px;
    left: 700px;
    text-align: left;
    font-size: 15px;
}

#tabs>div>div:nth-of-type(2) div {
    width: 225px;
    height: 170px;
    padding: 0 27px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#tabs>div>div:nth-of-type(3) {
    position: absolute;
    top: 230px;
    right: 0;
    text-align: left;
    font-size: 15px;
}

#tabs>div>div:nth-of-type(3) div {
    width: 225px;
    height: 170px;
    padding: 0 27px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}