@charset "utf-8";

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    color: #333;
    font: 15px/1.6 '굴림', sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.wrap {
    display: flex;
    height: calc(100% - 120px);
}



/* header */
header {
    width: 200px;
    padding: 20px 0;
    border-right: 1px solid #333;
}


/* logo */
.logo {
    height: 45px;
    text-align: center; /* 중앙배치 */
}

.logo img {
    width: 170px;
}

/* GNB */
nav {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

nav li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

nav li:last-of-type {
    border-bottom: none;
}

/* a 영역을 li 영역만큼 확대 */
nav a {
    display: inline-block; 
    width: 100%;
    height: 100%;
    transition: .1s; /* dissolve효과 */
}

nav a:hover {
    background: rgb(94, 43, 184);
    color: #fff;
}



/* contents */
.contents {
    width: 400px;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 45px 0;
    border-bottom: 1px solid #ddd;
}

.banner img {
    margin: 0 16px;
}

.banner h2 {
    font-size: 16px;
    margin-bottom: 4px;
}

.banner p {
    font-size: 12px;
}

.btn img {
    width: 50px;
}


/* notice */
.notice {
    height: calc(100% - 640px);
    padding: 32px 16px;
    border-bottom: 1px solid #ddd;
}

.notice h2 {
    margin-bottom: 16px;
    font-weight: bold;
}
.notice a {
    font-size: 13px;
}

.notice li {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    line-height: 2;
    border-bottom: 1px dotted #eee;
}

.notice li:hover {
    border-bottom: 1px solid #999;
}

.notice span {
    color: #999;
}

/* gallery */
.gallery {
    height: 320px;
    padding: 32px 16px;
    border-bottom: 1px solid #ddd;
}

.gallery h2 {
    margin-bottom: 24px;
}

.gallery a{
    font-size: 14px;
    font-weight: bold;
}

.gallery img {
    padding-bottom: 8px;
}

.inner {
    display: flex;
    text-align: center;
}

/* links */
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 160px;
    padding: 0 16px;
}

.link a {
    font-size: 14px;
}

.link img {
    padding-bottom: 8px;
}

/* slide */
.slide {
    width: calc(100% - 600px);
    overflow: hidden;
}



/* footer */
footer {
    display: flex;
    align-items: center;
    height: 120px;
    background: #333;
}


/* bottom logo */
.blogo {
    width: 200px;
}


/* bottom menu, address, copyright */
.center {
    width: calc(100% - 500px);
    padding-left: 60px;
    color: #888;
    font-size: 12px;
}

.center a {
    font-size: 14px;
}

/* bottom logo */
.bmenu {
    display: flex;
    height: 30px;
    
}

.bmenu li {
    margin-right: 16px;
}

.bmenu li:not(:last-child):after {
    content: '|';
    margin-left: 16px;
}

.bmenu a {
    color: #ccc;
}


/* family sites */
.fs {
    width: 300px;
    margin-bottom: 50px;
}