@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    /* 가로세로 비율 유지 */
    object-fit: contain;
}