@charset "utf-8";

/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
:root {
    --gray1: #111;
    --gray2: #333;
    --gray3: #555;
}
body,h1,h2,h3,ul,p {
    margin: 0;
}
body {
    font: 15px/1.6 "Roboto", sans-serif;
    color: var(--gray3);
}
h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 40px;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 16px;
}
ul {
    padding: 0;
    list-style: none;
}
p {
    padding: 10px 0 24px 0;
}
a {
    text-decoration: none;
    color: var(--gray2);
}

/* common */
.box_inner {
    width: 1050px;
    height: 113px;
    margin: 0 auto;
    background: rgb(107, 127, 189);
}

/* 헤더 */
header {
    z-index: 9999;
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

/* 섹션1: PC 메인 롤링 */
.main_rolling_pc {
    height: 650px;
    background: rgb(255, 36, 3);
}
/* 섹션2: 인기 여행지 */
.about_area {
    height: 685px;
    background: linear-gradient(#FFF 30%, #F4F0E9 30%);
    text-align: center;
}
.about_area ul {
    display: flex;
    justify-content: center;
    gap: 1%;
}
.about_area li {
    width: 340px;
    height: 500px;
}
/* .about_area li:not(:first-of-type) {
    margin-left: 2%;
} */
.about_area a {
    border-top: 2px solid var(--gray2);
    padding-top: 4px;
}

/* 섹션3 */
.appbbs_area {
    height: 256px;
    padding: 60px 0;
    background: white;
}

/* 푸터 */
footer {
    border-top: 1px solid #ddd;
}