@charset "utf-8";

.tabs ul {
    display: flex;
    justify-content: center;
}

.tabs li {
    display: inline-block;

}

.tabs a {
    display: inline-block;
    width: 190px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #777;
    border-bottom: 2px solid #b5b5b6;
}

.tabs a.active {
    color: #000;
    border-bottom: 2px solid #4B2F48;
}

.faq {
    position: relative;
}

.faq>a {
    position: absolute;
    right: 0;
    bottom: 24px;
    color: #999;
}

.faq .title {
    display: flex;
    align-items: center;
    padding: 24px 10px;
    border-bottom: 1px solid #b5b5b6;
}

.faq .title img {
    height: 24px;
}

.faq .title h3 {
    margin-left: 10px;
    font-size: 18px;
}

.faq .content {
    display: flex;
    padding: 24px 10px;
    border-bottom: 2px solid #4B2F48;
}

.faq .content img {
    height: 24px;
}

.faq .content p {
    margin-left: 15px;
    line-height: 2;
}