@charset "utf-8";
        
footer {
    width: 100%;
    height: 300px;
    background: #333;
    transition: background 0.5s;

    
}
.fupper {
    background: #999;
    height: 70px;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
.fupper .inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.rule li {
    position: relative;
    display: inline;
    line-height: 70px;
    padding: 0 15px;
}
.rule li::after {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #333;
}

.rule li:last-child::after {
    display: none;
}

.rule a {
    font-size: 15px;
}
.sns ul {
    padding-top: 24px;
    display: flex;
    width: 160px;
    justify-content: space-between;
    margin-left: 100px;
}
.sns img {
    width: 20px;
}

.flower .inner {
    display: flex;
    justify-content: space-between;
    height: 230px;
}
.flower .left {
    display: flex;
    width: 1000px;
}
.flower p {
    color: #fff;
    width: 700px;
    font-size: 14px;
}
.blogo {
    width: 150px;
    padding: 50px 24px;
}
.flower .left p {
    padding-top: 50px;
}
.flower #fs {
    width: 150px;
    height: 30px;
    text-align: center;
    margin: 12px 120px;
    border-radius: 50px;
}
.flower .ads {
    width: 300px;
}
.flower .ads li {
    display: inline-block;
    padding: 2px 8px;
    align-items: center;
}
.flower .ads img {
    width: 40px;
}