@charset "utf-8";

/* 섹션 컨테이너 */
.container section {
    width: 100%;
    transition: background 0.5s;
}

.modal {
    z-index: 99999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 1200px;
    margin: 5% auto;
    background: #fff;
    overflow: auto;
    padding-bottom: 35px;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #b5b5b6;
}

.modal h2 {
    text-align: left;
}

#modal_station .station {
    margin: 40px;
    font-size: 16px;
}

#modal_station #search {
    width: 690px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

#modal_station .search_btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #4b2f48;
    border-style: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

#modal_station h3 {
    text-align-last: left;
    margin: 40px 200px 10px;
}

#modal_station .station_list {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 한 줄에 5개 */
    gap: 10px;
    margin-bottom: 30px;
}

#modal_station .station_list button {
    width: 150px;
    height: 40px;
    line-height: 20px;
    padding: 10px 0;
    font-size: 14px;
    background: #fff;
    border: 1px solid #b5b5b6;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

#modal_station .station_list button:hover {
    border: 1px solid transparent;
    outline: 1px solid #4b2f48;
}

#modal_date .date {
    margin: 40px;
    font-size: 16px;
}

#modal_date .date input {
    margin-right: 10px;
}

#modal_person .person {
    margin: 40px;
    font-size: 16px;
}

#modal_person select {
    margin-right: 20px;
}

.cancel_btn {
    width: 150px;
    height: 45px;
    padding-bottom: 3px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-style: none;
    background: #fff;
    color: #4b2f48;
    border: 1px solid #b5b5b6;
    margin-right: 10px;
}

.apply_btn {
    width: 150px;
    height: 45px;
    padding-bottom: 3px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-style: none;
    background: #4b2f48;
    color: #fff;
}

/* 섹션1 */
#section1 {
    height: 100vh;
    padding-top: 140px;
}

/* 섹션1 - 슬라이더 */
#slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

#slider ul {
    position: relative;
    display: flex;
    width: 300%;
    left: 0;
}

/* 섹션1 - 탭 */
#booking_tabs {
    position: relative;
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    padding: 30px;
    background: #4b2f48;
    border-radius: 0 0 20px 20px;
    /* text-align: center; */
}

.bookingtab_btn {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 10;
}

/* 섹션1: 탭 버튼 */
.bookingtab_btn a {
    display: inline-block;
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-size: 20px;
    text-align: center;
    background: #ffffff;
}

.bookingtab_btn a:last-of-type {
    margin-left: -4px;
}

.bookingtab_btn a.active {
    background: #4b2f48;
    /* 활성 탭 배경색 */
    color: #fff;
}

/* 탭 콘텐츠 */
#booking_tabs section {
    display: none;
}

#booking_tabs section.active {
    display: flex;
}

/* 섹션1 - 승차권 예매 탭 */
#booking_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

#booking_section .inputbox {
    width: 200px;
    height: 100px;
}

#booking_section p {
    font-weight: bold;
}

#booking_section a {
    color: #fff;
}

#booking_section .input_btn {
    padding-top: 25px;
    width: 200px;
    border-bottom: 1px solid #fff;
}

#booking_section .input_btn a {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 10px;
}

#booking_section .input_btn img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

#booking_section .check_btn {
    width: 200px;
    height: 50px;
    margin-top: 45px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    text-align: center;
    color: #4b2f48;
    line-height: 50px;
}

/* 섹션1 - 예약 조회 탭 */
#search_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

#search_section .inputbox {
    width: 200px;
    height: 100px;
}

#search_section p {
    font-weight: bold;
}

#search_section a {
    color: #fff;
}

#search_section .input_btn {
    padding-top: 25px;
    width: 200px;
    border-bottom: 1px solid #fff;
}

#search_section .input_btn a {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 10px;
}

#search_section .input_btn img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

#search_section .check_btn {
    width: 200px;
    height: 50px;
    margin-top: 45px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    background: #fff;
    text-align: center;
    color: #4b2f48;
    line-height: 50px;
}

/* 섹션3 */
#section3 {
    height: calc(100vh - 140px);
    padding: 70px 0;
}

#section3 h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.contents {
    display: flex;
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}

.contents h3 {
    font-size: 18px;
}

.contents>div {
    width: 580px;
}

.contents_title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid #4c2f48;
}

#notice {
    margin-right: 40px;
}

.contents>div li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.contents>div li a:hover {
    text-decoration: underline;
}

.contents>div li span {
    color: #666;
}

.links {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

.links ul {
    display: flex;
    justify-content: space-between;
}

.links img {
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    outline: 1px solid transparent;
}

.links a:hover img {
    border: 1px solid transparent;
    outline: 2px solid #4c2f48;
}

.links p {
    font-size: 18px;
    font-weight: bold;
}