@charset "utf-8";

#header {
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 999;
}

.header_inner {
    border-bottom: 1px solid #ddd;
}

.first {
    display: flex;
    width: 1200px;
    height: 70px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.language {
    position: relative;
}

.language_list {
    z-index: 1000;
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    width: 140px;
    height: 135px;
    text-align: left;
    background: #fff;
}

.language_list a {
    padding-top: 15px;
    display: inline-block;
    color: #737373;
    margin-left: 30px;
}

.language_list span {
    font-size: 8px;
    display: inline-block;
    margin-right: 7px;
}

.lbtn {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.language .language_btn {
    width: 11.49px;
    height: 5.75px;
    object-fit: cover;
    margin-top: 10px;
}

.logo {
    width: 140px;
    margin-left: 60px;
}

.icons a:not(:last-child) img {
    margin-right: 30px;
}

.title {
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    background: #4b2f48;
    font-size: 20px;
}

.menu {
    width: 1200px;
    margin: 0 auto;
}

.menu .main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main>li>span {
    display: block;
    width: 300px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #b5b5b6;
    margin-bottom: 10px;
}

.sub a {
    display: block;
    padding: 10px;
    font-size: 16px;
}

.sub a:hover {
    text-decoration: underline;
}