@charset "utf-8";

/* 헤더 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: pink;
    transition: .3s;
}

#header.scrolled {
    opacity: 1;
    background: #ccc;
}

/* 섹션 컨테이너 */
.container section {
    width: 100%;
    transition: background 0.5s;
}

/* 섹션1 */
#section1 {
    height: 100vh;
    background: #eee;
    padding-top: 140px;
}

/* 섹션1 - 슬라이더 */
#slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

#slider ul {
    position: relative;
    display: flex;
    width: 300%;
    left: 0;
}

/* 섹션1 - 탭 */
#booking_tabs {
    position: relative;
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    padding: 30px;
    background: #4B2F48;
    border-radius: 0 0 20px 20px;
    /* text-align: center; */
}

.bookingtab_btn {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 10;
}

/* 섹션1: 탭 버튼 */
.bookingtab_btn a {
    display: inline-block;
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-size: 20px;
    text-align: center;
    background: #fff;
}

.bookingtab_btn a:last-of-type {
    margin-left: -4px;
}

.bookingtab_btn a.active {
    background: #4B2F48; /* 활성 탭 배경색 */
    color: #fff;
}

.tabs .btn a.active {
    border-bottom: 2px solid #fff;
    color: #fff;
}

/* 탭 콘텐츠 */
#booking_tabs > div {
    display: none;
}
#booking_tabs > div.active {
    display: flex;
}

/* 섹션1 - 승차권 예매 */
#booking_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

#booking_section .inputbox {
    width: 200px;
    height: 100px;
}

#booking_section h2 {   
    font-size: 18px;
    font-weight: normal;
}

#booking_section a {   
    color: #fff;
}

#booking_section .input_btn {
    padding-top: 25px;
    width: 200px;
    border-bottom: 1px solid #fff;
}

#booking_section .input_btn a {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-weight: bold;
    padding-bottom: 10px;
}

#booking_section .input_btn img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

#booking_section button {
    width: 200px;
    height: 50px;
    margin-top: 45px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
}

/* 섹션1 - 예약 조회 */
#search_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

#search_section .inputbox {
    width: 200px;
    height: 100px;
}

#search_section h2 {   
    font-size: 18px;
    font-weight: normal;
}

#search_section a {   
    color: #fff;
}

#search_section .input_btn {
    padding-top: 25px;
    width: 200px;
    border-bottom: 1px solid #fff;
}

#search_section .input_btn a {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-weight: bold;
    padding-bottom: 10px;
}

#search_section .input_btn img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

#search_section button {
    width: 200px;
    height: 50px;
    margin-top: 45px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
}

/* 섹션2 */
#section2 {
    height: calc(100vh - 140px);
    background: lightblue;
}

/* 섹션3 */
#section3 {
    height: calc(100vh - 140px);
    background: lightgreen;
}

/* 푸터 */
#footer {
    height: 300px;
    color: #fff;
    background: #000;
    transition: background 0.5s;
}