@charset "utf-8";

.modal {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 1200px;
    margin: 5% auto;
    background: #fff;
    overflow: auto;
    padding-bottom: 35px;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #b5b5b6;
}

.modal h2 {
    text-align: left;
}

#modal_station .station {
    margin: 40px;
    font-size: 16px;
}

#modal_station #search {
    width: 690px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

#modal_station .search_btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #4b2f48;
    border-style: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

#modal_station h3 {
    text-align-last: left;
    margin: 40px 200px 10px;
}

#modal_station .station_list {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 한 줄에 5개 */
    gap: 10px;
    margin-bottom: 30px;
}

#modal_station .station_list button {
    width: 150px;
    height: 40px;
    line-height: 20px;
    padding: 10px 0;
    font-size: 14px;
    background: #fff;
    border: 1px solid #b5b5b6;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

#modal_station .station_list button:hover {
    border: 1px solid transparent;
    outline: 1px solid #4b2f48;
}

#modal_date .date {
    margin: 40px;
    font-size: 16px;
}

#modal_date .date input {
    margin-right: 10px;
}

#modal_person .person {
    margin: 40px;
    font-size: 16px;
}

#modal_person select {
    margin-right: 20px;
}

#modal_seat .train_num {
    margin: 30px 0;
}

#modal_seat img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cancel_btn {
    width: 150px;
    height: 45px;
    padding-bottom: 3px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-style: none;
    background: #fff;
    color: #4b2f48;
    border: 1px solid #b5b5b6;
    margin-right: 10px;
}

.apply_btn {
    width: 150px;
    height: 45px;
    padding-bottom: 3px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-style: none;
    background: #4b2f48;
    color: #fff;
}

.top {
    height: 180px;
    background: rgba(181, 181, 181, 0.2);
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
}

.top .date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.top .date>img {
    margin: 0 10px;
}

.top .date a {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 10px;
}

.top .date a>img {
    margin-left: 5px;
}

.top .route {
    display: flex;
    justify-content: center;
}

.top .route a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45px;
    height: 45px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 2px;
}

.top .route .station_name,
.top .route .person {
    width: 250px;
}

.top .route a:not(.opp_btn)>img {
    position: absolute;
    left: 15px;
}

/* 열차 시간표 */
.timetable {
    width: 1200px;
    margin-top: 30px;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.col-srt {
    width: 8%;
}

.col-departure {
    width: 20%;
}

.col-arrival {
    width: 20%;
}

.col-time {
    width: 12%;
}

.col-regular {
    width: 20%;
}

.col-discount {
    width: 20%;
}

.timetable th {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #b5b5b6;
}

.timetable td {
    padding: 16px 0;
    border-bottom: 1px solid #b5b5b6;
}

.timetable h3 {
    font-size: 18px;
}

.timetable .col-time p {
    color: #999;
}

.timetable img {
    width: 16px;
}

.timetable td a {
    display: inline-block;
    width: 150px;
    padding: 10px;
    color: #fff;
    background: #2B9898;
}

.timetable .col-regular a {
    background: #651E38;
}

.more_btn {
    text-align: center;
}

.more_btn a {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #b5b5b6;
    border-radius: 20px;
    color: #4b2f48;
    cursor: pointer;
    margin-top: 30px;
}

.next_btn {
    text-align: center;
}

.next_btn a {
    display: inline-block;
    width: 270px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #b5b5b6;
    border-radius: 20px;
    color: #4b2f48;
    cursor: pointer;
    margin-top: 30px;
}