@charset "utf-8";

/* 공통 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 15px/1.6;
    background: #fff;
    color:#333;
}
ul {
    list-style:none;
    /* margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px; */
}
a {
    text-decoration: none;
    color:#333;
}

/* 상단 영역 */
.wrap {
    display: flex;
    height: 850px;
}

/* 헤더 영역 */
header {
    width: 200px;
    height: calc(100vh - 120px);
    padding: 20px 0;
}

/* logo */
.logo {
    height: 45px;
    text-align: center; /* 중앙배치 */
}

.logo img {
    width: 170px;
}

/* GNB */
.gnb {
    margin: 20px;
}

.main>li {
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.main>li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.main>li>a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.main>li>a:hover {
    color: #DF0029;
}

.main>li:hover {
    border-bottom: 2px solid #DF0029;
}

.main:hover .sub {
    z-index: 1;
    left: 160px;
    opacity: 1;
    visibility: visible;
}

.sub {
    display: flex;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 100px;
    width: calc(100vw - 180px);
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 20px;
}
.sub li a {
    display: block;
    width: 120px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 0 8px;
}

.sub li:hover a {
    font-weight: bold;
    color: #DF0029;
}

/* 스팟메뉴 */
.spotmenu {
    margin-top: 30px;
    text-align: center;
}
.spotmenu a {
    color: #555;
}
.spotmenu a:not(:last-child):after {
    content: ' |';
    margin: 8px;
}
.spotmenu a:hover {
    text-decoration: underline;
    color: #333;
}

/* 오른쪽 영역 */
.container {
    width: calc(100% - 200px);
}
/* 슬라이드 이미지 */
.slide {
    position: relative;
    height: 400px;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

.slide li {
    width: 100%;
    position: absolute;
    animation: 6s infinite;
}

.slide li:nth-of-type(1) {animation-name: fade1;}
.slide li:nth-of-type(2) {animation-name: fade2;}
.slide li:nth-of-type(3) {animation-name: fade3;}

@keyframes fade1 {
    0% {opacity: 0;}
    10% {opacity: 1;}
    33% {opacity: 1;}
    43% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade2 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    43% {opacity: 1;}
    66% {opacity: 1;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade3 {
    0% {opacity: 1;}
    10% {opacity: 0;}
    66% {opacity: 0;}
    76% {opacity: 1;}
    100% {opacity: 1;}
}

/* 바로가기 링크 */
.link {
    position: absolute;
    right:0;
    top:0;
    width: 120px;
    height: 340px;
    background: #A88140;
    text-align: center;
}
.link li {
    margin-top: 16px;
}
.link a {
    color: #fff;
}
.link span {
    display: block;
}

/* 배너 */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 0 35px;
    background: darkred;
}

.banner a {
    color: #fff
}

.banner .cont {
    display: flex;
}

.banner .cont img {
    margin-right: 24px;
}

.btn img {
    width: 60px;
}

/* 탭: 공지사항+갤러리 */
.tabs {
    height: 250px;
    padding: 20px 35px;
    line-height: 2;
    background: #000;
    /* text-align: center; */
}

.tabs a {
    color: #fff;
}

.tabs .btn {
    display: inline-block;
    margin-bottom: 16px;
}

/* 탭 버튼 */
.tabs .btn a {
    padding: 10px;
    border-bottom: 2px solid #666;
    color: #666;
}

.tabs .btn a.active {
    border-bottom: 2px solid #fff;
    color: #fff;
}

.tabs .btn a:first-of-type {
    margin-left: 5px;
}

/* 탭 콘텐츠 */
.tabs div {
    display: none;
}
.tabs div.active {
    display: block;
}

/* 탭 - 공지사항 */
#tab1 h3 {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
}

#tab1 a {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    color: #fff;
    padding: 2px 8px;
}

#tab1 a:hover {
    border-bottom: 1px solid #eee;
}

/* 탭 - 갤러리 */
/* #tab2 {
    display: none;
} */

#tab2 {
    text-align: center;
}

#tab2 a:not(:last-of-type) {
    margin-right: 16px;
}

#tab2 img {
    width: 150px;
    border-radius: 10px;
}

#tab2 img:hover {
    border: 3px solid darkred;
}

/* 푸터 영역 */
footer {
    display: flex;
    align-items: center;
    height: 120px;
    background: darkgray;
}
/* 하단 로고 */
.blogo {
    width: 200px;
}
/* 오른쪽 콘텐츠 */
.right {
    padding-left: 60px;
}
/* 하단 메뉴 */
.bmenu {
    display: flex;
    height: 30px;
}
.bmenu li:not(:last-child):after {
    content: ' | ';
    margin: 8px;
}
/* 주소 및 저작권 */