@charset "utf-8";

* {
    /* padding과 border 크기를 박스 안쪽으로 지정한다 */
    box-sizing: border-box;
}

body, h1, h2, ul, p {
    margin: 0;
}
body {
    background: #fff;
    color: #333;
    /* font: 16px/1.6 "굴림", sans-serif; */
}

/* a 태그는 body 태그 속성이 먹히지 않으므로 따로 지정해주어야 함. */
a {
    color: #333;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

.contents, footer {
    width: 1340px;
    margin: 0 auto;
}

header {
    position: relative;
    width: 1340px;
    height: 100px;
    margin: 0 auto;
    background: #fff;
}

.logo {
    padding-top: 25px;
}

.gnb {
    z-index: 2;
    position: absolute;
    top: 55px;
    right: 20px;
}

.nav_bg {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 100px;
    left: calc((-100vw + 1340px) / 2);
    width: 100vw;
    height: 0;
    z-index: 1;
}

/* 1depth: 메인메뉴 */
.main {
    display: flex;
    text-align: center;
}

.main>li>a {
    display: block;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.main>li>a:hover {
    background: #002c5f;
    color: #fff;
}

.main:hover .sub {
}

/* 2depth: 서브메뉴 */
.sub {
    display: none;
    height: 180px;
    padding-top: 10px;
    /* transition: .3s; */
    /* visibility: hidden; */
}

/* .sub.on {
    visibility: visible;
    height: 150px;
} */

.sub a {
    display: block;
    font-size: 14px;
    color: #333;
    padding: 10px;
}

.sub a:hover {
    background: #002c5f;
    color: #fff;
}


.slide { 
    height: 350px;
    overflow: hidden;
}

.slide li+li {
    display: none;
}


.contents {
    height: 600px; 
}


.link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background: #f3efee;
}

.link a {
    text-align: center;
    font-weight: bold;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 180px;
    background: #002c5f;
}

.banner a {
    color: #fff;
}

.banner .cont {
    display: flex;
}

.banner .cont img {
    margin-right: 30px;
}

.banner h2 {
    padding-bottom: 10px;
}

.modal {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 500px;
    margin: 10% auto;
    background: #fff;
    padding: 30px;
    overflow: auto;
}

.popup h2 {
    font-size: 18px;
}

.popup p {
    padding: 20px 0;
}

.popup a {
    padding: 8px;
    border: 1px solid #000;
}

.close_btn {
    text-align: right;
}

.media {
    display: flex;
    height: 300px;
    padding: 30px;
    background: #f3efee;
}

.media h2 {
    margin-bottom: 16px;
}

.notice {
    width: 670px;
    margin-right: 20px;
}

.notice a:hover {
    text-decoration: underline;
}

.notice li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.gallery {
    width: 670px;
}

.gallery .inner {
    display: flex;
}

.gallery a {
    margin-right: 16px;
    text-align: center;
}

.gallery a:hover span {
    text-decoration: underline;
}

footer {
    display: flex;
    /* algin items와 alightc-content를 함께 사용하면 aligth-items과 고정됨 */
    align-items: center;
    align-content: center;
    background: #111;
    color: #999;
    height: 120px;
    padding: 0 30px;
}

footer a {
    color: #999;
}

.left { 
    width: 1000px;
}

.right {
    width: 340px;
}

.sns {
    height: 60px;
    padding: 20px 0 ;
}

.sns li {
    display: inline;
    margin-right: 8px; 
}

.sns img {
    width: 24px;
}

/* .sns li:nth_of_type(1)::after {
    content: " |";
}

.sns li:nth_of_type(2)::after {
    content: " |";
} */

/* .sns li:not(:last-of-type)::after {
    content: " |";
} */

.fs {
    height: 60px;
}