@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font: 15px/1.6;
    background: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

/* 기본 레이아웃 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #214a76;
}

/* 로고 */
.logo {
    width: 200px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* 내비게이션 */
.gnb {
    position: absolute;
    right: 0;
    top: 35px;
    width: 640px;
    height: 30px;
    margin-right: 20px;
    text-align: center;
}

.gnb a {
    color: #fff;
}

/* 1depth: 메인메뉴 */
.gnb .main {
    display: flex;
}
.gnb .main>li>a {
    display: block;
    width: 160px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.gnb .main>li>a:hover {
    background: #fff;
    color: #214a76;
    transition: .1s;
}
.gnb .main:hover .sub {
    height: 140px;
}

/* 2depth: 서브메뉴 */
.gnb .sub {
    height: 0;
    transition: .3s;
    overflow: hidden;
    background: rgba(255, 255, 255, 80%);
    text-align: center;
}

.gnb .sub a {
    color: #333;
}

.gnb .sub::before {
    display: block;
    content: '';
    padding-top: 10px;
}

.gnb .sub>li>a {
    display: block;
    font-size: 14px;
    padding: 4px;
}

.gnb .sub>li>a:hover {
    background: #9ab4d0;
    color: #fff;
    font-weight: bold;
    transition: .1s;
}

/* 슬라이드 */
.slide {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: relative;
    height: 400%;
    animation: slide 8s infinite;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {top: 0;}
    10% {top: -100%;}
    33% {top: -100%;}
    43% {top: -200%;}
    66% {top: -200%;}
    76% {top: -300%;}
    99.99% {top: -300%;}
    100% {top: 0;}
}

/* 콘텐츠 */
.contents {
    display: flex;
    height: 200px;
}

/* 탭: 공지사항 & 갤러리 */
.tabs {
    width: 448px;
    height: 200px;
    margin-top: 5px;
}

.tabs input {
    display: none;
}

.tabs label {
    display: inline-block;
    margin-right: -6px;
    padding: 8px 8px;
    color: #999;
    /* border: 1px solid #999; */
    cursor: pointer;
    font-weight: bold;
}

.tabs input:checked+label {
    color: #333;
}

.tabs .tab-content {
    position: absolute;
    display: none;
    padding: 12px;
    border-top: 1px solid #999;
    margin-top: -1px;
    width: 448px;
}

input:checked+label+.tab-content{
    display: block;
}

/* 공지사항 */
.tabs .tab1 {
    line-height: 2;
}

.tabs .tab1 li {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.tabs .tab1 a {
    font-size: 14px;
    font-weight: bold;
}

.tabs .tab1 a:hover {
    text-decoration: underline;
}

.tabs .tab2 img {
    margin: 0 4px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.tabs .tab2 img:hover {
    border: 1px solid #214a76;
}

/* 배너 */
.banner {
    width: 360px;
    margin-top: 10px;
    margin-left: 16px;
}

.banner img {
    border-radius: 20px;
}

/* 바로가기 */
.link {
    width: 360px;
    margin-top: 10px;
    margin-left: 16px;
}

.link img {
    border-radius: 20px;
}

/* 푸터 */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #666;
    color: #ccc;
}

/* 하단 로고 */
.blogo {
    width: 200px;
    height: 40px;
    margin: 10px;
}

/* 주소 및 저작권 */
.copy {
    width: 800px;
    font-size: 13px;
    margin-left: 10px;
}

/* SNS */
.sns {
    width: 100px;
    margin-right: 20px;
}

.sns a {
    margin: 4px;
}

.sns img {
    width: 20px;
    margin-bottom: 20px;
}