@charset "utf-8";
/* reset */
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

/* color, font size*/
:root {
    /* font */
    font-size: 10px;
    /* color */
    --text: #333;
    --white: #fff;
    --red: #E31837;
    --yellow: #FFF500;
    --blue: #00A6EE;
}


html, body, h1, h2, h3, p, a, ul, li, div, section, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #333;
    background: #fff;
    font: 1.6rem/1.6 "Pretendard-Regular", sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--text);
}

ul {
    list-style: none;
}


/*
반응형

기본작업은 모바일크기(화면최소화)로 작업

타블렛
@media (min-width: 768px)
데스크탑
@media (min-width: 1200px) 
*/