@charset "utf-8";
@import url('reset.css');

#section2 {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* background */
#bg {
    z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: var(--red);
    transition: 0.3s ease;
}

/* product */
#product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    transition: 0.3s ease;
}

/* page 1 */
#first {
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
}

#first h3 {
    font-size: 60px;
    line-height: normal;
    font-weight: 700;
}

#first h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
    color: var(--red);
    margin-bottom: 30px;
}

#first p {
    font-size: 20px;
    margin-bottom: 30px;
}

#first .tag {
    display: flex;
    text-align: center;
}

#first .tag span {
    font-size: 14px;
    line-height: 1;
}

#first .tag span {
    display: inline-block;
    padding: 9px 10px;
    border: 1px solid #999;
    border-radius: 20px;
    margin-right: 8px;
}

/* page 2 */
#second {
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
}

#second h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 56px;
}

#second h2 span {
    color: var(--red);
}

#second p {
    font-size: 20px;
}

#second .image {
    width: 87px;
    height: 87px;
    margin-right: 24px;
}

#second>div {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

/* page 3 */
#third {
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
}

#third h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

#third>p {
    font-size: 20px;
    margin-bottom: 50px;
}

#third>div {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

#third>div>div {
    margin: 0 24px 36px 10px;
}

#third .circle {
    width: 135px;
    height: 135px;
    background: var(--red);
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 10px;
}

#third>div>div p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* for animation */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 기본 스크롤 막기 */
}

#bg, #product, #first, #second, #third {
    transition: all 0.8s ease;
}

#first.active,
#second.active,
#third.active {
    opacity: 1;
    pointer-events: auto;
}