@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: #fff;
    color: #333;
    font: 15px/1.6 "돋움", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    width: 200px;
    height: 40px;
}

.gnb {

}

.slide {
    height: 300px;
    overflow: hidden;
}

.contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.notice {
    width: 400px;
}

.gallery {
    display: inline-block;
    width: 400px;
}

.banner {
    width: 400px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #666;
    color: #ccc;
}

.blogo {
    width: 200px;
}

.copy {
    width: 800px;
    margin-left: 24px;
}

.fs {
    width: 200px;
}