@charset "utf-8";

* {
    /* padding과 border 크기를 박스 안쪽으로 지정한다 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #333;
    font: 15px/1.6 "굴림", sans-serif;
}

/* a 태그는 body 태그 속성이 먹히지 않으므로 따로 지정해주어야 함. */
a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

.contents, footer {
    width: 1340px;
    margin: 0 auto;
}

header {
    position: relative;
    width: 1340px;
    height: 100px;
    margin: 0 auto;
}

.logo {
    height: 60px;
    line-height: 120px;
}

.gnb {
    z-index: 2;
    position: absolute;
    right: 20px;
}

/* 1depth: 메인메뉴 */
.main {
    display: flex;
    text-align: center;
}

.main>li>a {
    display: block;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    background: #ddd;
}

.main>li>a:hover {
    background: #214a76;
    color: #fff;
}

/* 2depth: 서브메뉴 */
.sub {
    display: none;
    height: 150px;
    background: rgba(0, 0, 0, 0.8);
    /* transition: .3s; */
    /* visibility: hidden; */
}

/* .sub.on {
    visibility: visible;
    height: 150px;
} */

.sub a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 4px;
}

.sub a:hover {
    background: #214a76;
}


.slide { 
    height: 350px;
    overflow: hidden;
}

.slide li+li {
    display: none;
}


.contents {
    height: 600px; 
}

.contents a {
    color: #fff;
}


.link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background: #1b3b86;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 180px;
    background: lightblue;
}

.banner a {
    color: #000;
}

.banner .cont {
    display: flex;
}

.banner .cont img {
    margin-right: 16px;
}


.media {
    display: flex;
    height: 300px;
    padding: 30px;
    background: #1b3b86;
    color: #fff;
}

.media h2 {
    margin-bottom: 16px;
}

.notice {
    width: 670px;
}

/* .notice td {
    border: 1px solid #000;
} */

.notice tr td:nth-child(2) {
    padding-left: 80px;
}

.gallery {
    width: 670px;
}

.gallery .inner {
    display: flex;
}

.gallery a {
    margin-right: 16px;
    text-align: center;
}

footer {
    display: flex;
    /* algin items와 alightc-content를 함께 사용하면 aligth-items과 고정됨 */
    align-items: center;
    align-content: center;
    background: #111;
    color: #999;
    height: 120px;
    padding: 0 30px;
}

footer a {
    color: #999;
}

.left { 
    width: 1000px;
}

.right {
    width: 340px;
}

.sns {
    height: 30px;
}

.sns li {
    display: inline;
    margin-right: 8px; 
}

.sns img {
    width: 24px;
}

/* .sns li:nth_of_type(1)::after {
    content: " |";
}

.sns li:nth_of_type(2)::after {
    content: " |";
} */

/* .sns li:not(:last-of-type)::after {
    content: " |";
} */

.fs {
    height: 60px;
}